:root {
  --primary: #4b8b15;
  --backgrond: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgrond);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-label {
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-label span {
  color: var(--primary);
  font-size: 1.5rem;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 0.4rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../image/Background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 80%;
}

.hero .content .personal-info {
  display: block;
}

.hero .content .personal-info img {
  max-width: 13rem;
  border-radius: 30%;
  margin: 1rem 0;
}

.hero .content .personal-info h1 {
  color: #4b8b15;
  padding: 0.5rem 0;
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .personal-info h1 span {
  color: #010101;
  text-shadow: 1px 1px 3px rgba(245, 217, 217, 0.5);
}

.hero .content .personal-info a {
  color: #4b8b15;
  padding: 0 0.2rem;
}

.hero .content .personal-info a:hover {
  color: #080808;
}

.hero .content .personal-about h1 {
  color: #010101;
  font-size: 3em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .personal-about p {
  color: var(--primary);
  max-width: 80%;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.6);
}

/* Experience Section */
.experience,
.education,
.skill,
.interest,
.award {
  padding: 7rem 7% 1.4rem;
}

.experience h2,
.education h2,
.skill h2,
.interest h2,
.award h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.experience h2 span,
.education h2 span,
.skill h2 span,
.interest h2 span,
.award h2 span {
  color: var(--primary);
}

.experience .row {
  display: flex;
}

.experience .row .img-exp {
  flex: 1 1 45rem;
}

.experience .row .img-exp img {
  width: 100%;
}

.experience .row .exp-content {
  flex: 1 1 35rem;
  padding: 0 3rem;
}

.experience .row .exp-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.experience .row .exp-content pre {
  margin-bottom: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--primary);
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 15, 0.6);
}

/* Education Section */
.education .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.education .row .education-card {
  text-align: center;
  padding-bottom: 4rem;
}

.education .row .education-card img {
  border-radius: 50%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.education .row .education-card .edu-card-title {
  margin: 1rem auto 0.5rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

/* Skill Section */
.skill .row {
  color: #010101;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Skill Section Coding */
.skill .row .skill-coding {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 10px 15px;
  padding: 10px 20px;
  border-radius: 7px;
}

.skill .row .skill-coding .skill-box-coding {
  width: 100%;
  margin: 25px 0;
}

.skill .row .skill-coding .skill-box-coding .skill-title-coding {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.skill .row .skill-coding .skill-box-coding .skill-coding-bar {
  height: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill
  .row
  .skill-coding
  .skill-box-coding
  .skill-coding-bar
  .skill-per-coding {
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill
  .row
  .skill-coding
  .skill-box-coding
  .skill-coding-bar
  .skill-per-coding.css {
  width: 50%;
}

.skill
  .row
  .skill-coding
  .skill-box-coding
  .skill-coding-bar
  .skill-per-coding.javascript {
  width: 70%;
}

.skill
  .row
  .skill-coding
  .skill-box-coding
  .skill-coding-bar
  .skill-per-coding.php {
  width: 75%;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill
  .row
  .skill-coding
  .skill-box-coding
  .skill-coding-bar
  .skill-per-coding
  .tooltip-coding {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}

.skill
  .row
  .skill-coding
  .skill-box-coding
  .skill-coding-bar
  .skill-per-coding
  .tooltip-coding::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}

/* Skill Section General */
.skill .row .skill-general {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
}
.skill .row .skill-general .skill-box-general {
  width: 100%;
  margin: 25px 0;
}

.skill .row .skill-general .skill-box-general .skill-title-general {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.skill .row .skill-general .skill-box-general .skill-general-bar {
  height: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill
  .row
  .skill-general
  .skill-box-general
  .skill-general-bar
  .skill-per-general {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill
  .row
  .skill-general
  .skill-box-general
  .skill-general-bar
  .skill-per-general.legal {
  width: 85%;
}

.skill
  .row
  .skill-general
  .skill-box-general
  .skill-general-bar
  .skill-per-general.finance {
  width: 80%;
}

.skill
  .row
  .skill-general
  .skill-box-general
  .skill-general-bar
  .skill-per-general.managerial {
  width: 70%;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill
  .row
  .skill-general
  .skill-box-general
  .skill-general-bar
  .skill-per-general
  .tooltip-general {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}

.skill
  .row
  .skill-general
  .skill-box-general
  .skill-general-bar
  .skill-per-general
  .tooltip-general::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}

/* Interest Section */
.interest .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.interest .row .interest-card {
  text-align: center;
  padding-bottom: 4rem;
}

.interest .row .interest-card img {
  border-radius: 50%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.interest .row .interest-card .int-card-title {
  margin: 1rem auto 0.5rem;
  color: var(--primary);
  margin-bottom: 4rem;
  font-size: 2.4rem;
}

/* Award Section */
.award p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1.4rem;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 15, 0.6);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 1.5rem;
  margin-top: 2rem;
}

footer .sosials {
  padding: 1rem 0;
}

footer .sosials a {
  color: #fff;
  margin: 0.5rem;
}

footer .sosials a:hover,
footer .links a:hover {
  color: var(--backgrond);
}

footer .links {
  margin-bottom: 1.2rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit a {
  color: var(--backgrond);
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
    size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
    size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--backgrond);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .experience .row {
    flex-wrap: wrap;
  }

  .experience .row .img-exp img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .experience .row .exp-content {
    padding: 0;
  }

  .experience .row .exp-content h3 {
    margin-top: 1rem;
  }

  .interest h2 {
    margin-top: 15rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
    size: 55%;
  }

  .interest h2 {
    margin-top: 16rem;
  }
}
